{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    
        <h4>{{url.url }}</h4>
        <h4>{{url.slug }}</h4>
{% endblock %}